.new-title{
    background-color: black;
    color: white;
}
.arrival{
    display: flex;
    flex-direction: row;
}
.arrival2{
    display: flex;
    flex-direction: row;
}
.arrival3{
    display: flex;
    flex-direction: row;
}
.arrival4{
    display: flex;
    flex-direction: row;
}