/* .wishlist-container {
    padding: 20px;
  }
  
  .product-card {
    margin: 10px 0;
  }
  
  .product-image {
    cursor: pointer;
  }
  
  .product-name, .product-description, .product-price {
    margin: 10px 0;
  } */