.top{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 255, 255);
    margin-top: 12px;
   
}
 

.logo{
max-width: 130px;
    margin-left:180px;
}
.head{
    text-align: center;
    font-size:250%;
    padding-top: 12px;
}
.iconbar{
    padding-left: 25px;
   
    
}
.tope{
 background-color: rgb(255, 255, 255);
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 width: 100%;
 margin-left: -84px;
}


.nav-item{
   
    margin-left: 120px;
    font-weight:bold ;
   
}
.nav-item:hover{
    color:rgb(203, 15, 15);
}
.nav-item a{
    text-decoration: none;
    color:inherit;
}
 
.navbar{
    background-color: rgb(0, 0, 0);
    
color: #ffffff;


}
.dropbtn{
 
    color: white;
   
   
    border: none;
    cursor: pointer;
}
.dropbtn:hover{
color: rgb(104, 104, 251);
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 112px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0,0, 0.2);
    z-index: 1;
    margin-top: 12px;
    margin-right: 12px;
  
    
  }
  .dropdown-content a{
    color: black;
    padding: 2px 26px;
    text-decoration: none;
    
    box-sizing:12px 30px;
  }
  .dropdown-content a:hover{
    background-color: #47274c;
    color: #ffffff;
  }
  .dropdown:hover .dropdown-content{
    display:flex;
    flex-direction: column;
  }
 .dropbtn{
  
    color: #000000;
}
.logo{
    margin-left:355px;
}
.cart a{
    text-decoration: none;
    color:inherit;
}
.cart :hover{
    color: rgb(104, 104, 251); 
}
.search:hover{
    color: rgb(104, 104, 251); 
}
.heart:hover{
    color: rgb(104, 104, 251); 
}
.heart a{
    text-decoration: none;
    color:inherit; 
}