.login{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
    min-height: 100vh;
    background-color: #ffffff;
    flex-direction: column;
}
.log{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    background-color:  #ffdcdc;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 20px;
    transition: transform 0.2s;
    width: 530px;
}
.but-l{
    background-color:rgb(42, 166, 238);
border: none;
padding: 10px 20px;
text-align: center;
text-decoration: none;
cursor: pointer;
border-radius: 8px;
}
.logi{
    text-align: center;
    color: rgb(42, 166, 238);
    font-size:xx-large;
    padding-bottom: 20px;
}