.bot{

padding-left: 12px;
margin-top: 100px;
margin-left:295px;
width: 50%;
height: auto;
box-sizing: border-box;
border-radius: 17%;
border: 1PX  solid rgb(169, 187, 187);
box-shadow: 5px 5px 5px 5px rgb(195, 186, 186);
 
}

.icons{
    padding-top: 12px;
}
.wel{
    text-align: center;
    font-family:fangsong;
    margin-top: 45PX;
    font-size:  xx-large;
    color: white;
}

.sec{
    padding-top: 72px;
    background-color: rgb(255, 255, 255);
    
    padding-bottom: 30px;
}
.new{
    margin-left: 110px;
    max-width: 400px;
    height: 375px;
    border: 2PX  solid rgb(0, 0, 0); 
}
.best{
    margin-left: 110px;
    max-width: 400px;
    height: 375px;
    border: 2PX  solid rgb(0, 0, 0); 
}
.img-title1{
font-size:x-large;
text-align: center;

}
.img-title2{
    font-size:x-large;
    text-align: center;
  
}
.black-scent{
    max-width: 250px;
}
.men{
    max-width: 250px;
}
.violet-scent{
    max-width: 250px;
    background-color: blue;
}

.first-men{
  padding-left: 150px;
  background-color: aqua;
  
}
.sec-women{
  padding-left: 150px; 
  background-color: aqua;
}
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  .marquee-container {
    overflow: hidden;
  }
  
  .marquee-content {
    display: inline-block;
    animation: marquee 8s linear infinite;
  }
  .home-img{
    background-color: rgb(0, 0, 0);
  }
 
 
 
 .top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
 }
 .top-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }
 .brand{
  background-color: black;
  color: white;
 }
 .home{
  width: 100%;
 }

