.footer-content{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fff;
 
}
.con{
    color: white;
}
.contactus{
    color: #fff;
}