.tabledata{
    border-collapse:collapse ;
    width: 80%;
}
tr:nth-child(even){
    background-color: #dddddd;
}
table,td,tr,th{
    border: 1px solid black;
    padding: 8px;
}
table{
    margin: auto;
    margin-top: 15px;
}
.block{
    background-color: rgb(255, 27, 27);
}